.women .search_text{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 15px;
    }
    .women{
        margin: 40px 0;
        }
    .women .women_card{
    margin-top: 10px;
    height: 370px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .women .women_card .image{
    height: 240px;
    width: 100%;
    object-fit: contain;
    }
    .women .text_heading{
    font-weight: bold;
    }
    .women .women_button{
    background: rgb(108, 108, 241);
    padding: 5px 10px;
    color: white;
    }
    .women .women_button:hover{
    background: blue;
    }
    @media (width<=576px) {
        .women .women_card{
            width: 80%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            }
    }
    @media (width<=320px) {
        .women .women_card{
        width: 100%;
    }
      }